.pgs{position:relative}
.pgs .pgsImg{position:absolute;left:0;top:0;background:#236578}
.pgs .pgsItd .rgnPart .bkBox,.pgs .pgsItd .rgnPart .handle{width:6px;height:6px;cursor:pointer;background:#fff;margin:-4px;position:absolute}
.pgs .wSvg{padding:0;border:0 solid #CCC;position:absolute}
.pgs .pgsItd .itdGup{position:absolute}
.pgs .pgsItd .itdSvg{top:0;left:0;z-index:150}
.pgs .pgsItd .rgnPart .bkBox{border:1px solid #ff0;z-index:170;opacity:0}
.pgs .pgsItd .rgnPart .handle{border:1px solid #E7290F;z-index:175;visibility:hidden}
.pgs .pgsItd .rgnPart .handle.handleFocus{visibility:visible;border:1px solid #0F0}
.pgs .pgsItd .itdSvg .rgnEl{fill:#E7290F;fill-opacity:.25;stroke:#E7290F;stroke-width:1.5;stroke-opacity:.8}
.pgs .pgsItd .itdSvg .rgnEl.rgnElFocus{stroke:#0F0;fill:#0F0}
.pgs .pgsItd .rgnPart .itdNum{position:absolute;width:8px;height:14px;margin-top:-7px;margin-left:-4px;line-height:14px;font-size:14px;text-align:center;color:#E7290F;z-index:140}
.pgs .pgsItd .rgnPart .itdNum.itdNumFocus{color:#0F0;z-index:155;cursor:default;opacity:.9}
.pgs .pgsItd .linePart .handle{position:absolute;border:1px solid #E7290F;width:6px;height:6px;cursor:pointer;background:#E7290F;z-index:175;margin:-4px}
.pgs .pgsItd .linePart .handle.handleFocus{border:1px solid #0F0;background:#FFF}
.pgs .pgsItd .itdSvg .lineEl{fill:#E7290F;stroke:#E7290F}
.pgs .pgsItd .itdSvg .lineEl.lineElFocus{stroke:#0F0;fill:#0F0}
.pgs .pgsItd .linePart .itdNum{position:absolute;width:20px;height:20px;margin-top:-10px;margin-left:0;line-height:20px;font-size:14px;text-align:center;color:#E7290F;z-index:140}
.pgs .pgsItd .linePart .itdNum.itdNumFocus{color:#0F0;z-index:155;opacity:.9}
.pgs .pgsItd .linePart .itdArr{position:absolute;width:12px;height:30px;margin-left:-6px;margin-top:-15px;z-index:145}
.pgs .pgsItd .linePart .itdArr.itdArrFocus{z-index:155}
.pgs .pgsReg .regSvg{position:absolute}
.pgs .pgsReg .regSvg [data-type=reg]{fill:red;filter:alpha(opacity=25);opacity:.25}
.pgs .pgsReg .handleLine{position:absolute;width:100%;height:8px;cursor:pointer;background:#546987;filter:alpha(opacity=10);opacity:0;filter:alpha(opacity=0);z-index:180}
.pgs .pgsReg .handleLineUp{margin-top:-4px}
.pgs .pgsReg .handleLineDown{margin-top:-4px;margin-bottom:-4px}
.pgs .pgsReg .handleLineTmp{position:absolute;width:100%;height:1px;cursor:pointer}
.pgs .pgsReg .handleLineTmpUp{margin-top:-1px}
.pgs .pgsReg .handleLineTmpDown{margin-bottom:-1px}
.pgs .pgsReg .handleLineTmp .lineBox{background:red;position:absolute;height:1px;width:100%;opacity:.6;filter:alpha(opacity=60)}
.pgs .pgsReg .handleLineTmp .middleBox{position:relative;display:block;width:6px;height:6px;border:1px solid red;margin:0 auto;top:-3.5px;background:#fff}
.pgs .pgsDb .dbSvg [data-type=db]{fill:#0F0;filter:alpha(opacity=70);opacity:.7}
.pgs .pgsDb .handle{position:absolute;border:1px solid #000;width:6px;height:6px;cursor:pointer;background:#fff;z-index:165;margin:-4px}
.pgs .pgsHead .handleHead{position:absolute;height:20px;width:20px;cursor:pointer;opacity:.5;filter:alpha(opacity=50);z-index:185}
.pgs .handleArIn,.pgs .pgsArIn .icon{width:30px;height:30px;position:absolute}
.pgs .handleArIn{z-index:175}
.pgs .pgsArIn .icon{display:block}
.pgs .hideMode{display:none}